/*Custom Style Sheet*/


/* GLOBAL */
*{
  margin:0;
  padding:0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

.button1{
  height:38px;
  background:#00FF60;
  border:none;
  padding-left:20;
  padding-right:20;
  color:#ffffff;
}
.image{
  margin:20px;


}


.lists li{
  list-style:none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}


/* Headers*/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:#00FF60 3px solid;

}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 28px;
}

header #Home{
  float:left;
}
header #Home h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:18px;
}

header a:hover{
  color:#00FF60;
  font-weight:bold;
}


/*Showcase*/
#showcase{
  min-height:400px;
  background:url('../Images/showcase.jpg') no-repeat -570px -800px;
  opacity: 5;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size: 55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Search and Subscribe Bar*/

#search{
  padding:15px;
  color:#ffffff;
  background:#35424a;
  border-top:#00FF60 3px solid;
}

#search h1{
  float: left;
}
#search form{
  float:right;
  margin-top:15px;
}

#search input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}


/* Boxes */
#boxes_title{
  text-align:center;
  padding-top: 10px;
}
#boxes{
  margin-top:20px;
}


#boxes .box{
  float:left;
  text-align:center;
  width:18%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}
#boxes .box #Midfield img{
  height:80%;
  width:80%;
}
#boxes .box #Offense img{
  height:55%;
  width:55%;
}
img {
  border-radius: 8px;
}
/*Footer*/

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background:#35424a;
  text-align:center;
}
footer a{
  color:#ffffff;
}
